@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(250, 207, 250, 0.8);
    /* 粉色区域，同样保持较高透明度 */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}